[Unit]
Description=Maru CXL Memory Pool Resource Daemon
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=simple
ExecStart=@MARU_RESOURCED_BIN@
Restart=always
RuntimeDirectory=maru-resourced
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
